html, body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
header {
  h1 {
    font-size: 2em;
    color: blue;
    transition: all .3s;
  
    &:hover {
      transform: translateX(50px);
      color: red;
    }
  }
  .instruction {
    font-size: larger;
    font-weight: bold;
    color: red;
  }  
}
#NESdisplay {
  display: block;
  margin: 40px auto;
}